.footer-page {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
    display: block;
}
   
.studio-logotype {
    color: #f4f4fd;
}

.social-networks-text,
.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-page-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

.social-networks-list {
    display: flex;
    gap: 16px;
}

.social-networks-list-item {
    width: 40px;
    height: 40px; 
}  

.social-networks-list-item-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* display: flex; 
    align-items: center;
    justify-content: center; */
}

.social-networks-list-item-link:hover,
.social-networks-list-item-link:focus,
.social-networks-list-item-link:active {
    background-color: #31d0aa;
}

.social-networks-icon {
    fill: #f4f4fd;
}


/* LAST CONTAINER IN THIS FOOTER */

/* .subscribe-container { 
    margin-left: 80px;
} */


.subscribe-input {
    background-color: transparent;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #FFFFFF;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    padding-left: 16px;
    color: #ffffff;
}

.subscribe-input::placeholder {
    color:#ffffff;
}

.subscribe-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff; 
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
    background-color: #404BBF;
}

.subscribe-telegram-icon {
    margin-left: 16px;
}

.subscribe-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

 /* .subscribe-form { 
    display: flex;
    gap: 24px; 
} */


   /* MOBILE */
@media screen and (max-width: 767px) {
    .footer-page {
        display: block;
    }

    .footer-page-text {
        margin-bottom: 72px;
    }

    .social-networks-list {
        justify-content: center;
        margin-bottom: 72px;
    }

    .footer-logo {
        text-align: center;
    }

    .social-networks-text,
    .subscribe-text {
        text-align: center;
    }

    .subscribe-input {
        width: 288px;
        height: 40px;
        margin-bottom: 16px;
    }

    .subscribe-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}



    /* TABLET */
@media screen and (min-width: 768px) {
    .footer-logo {
        text-align: start;
    }

    .social-networks-text,
    .subscribe-text {
        text-align: left;
    }

    .footer-page-text {
        width: 264px;
    }

    .subscribe-container {
        align-self: self-start;
    }

    .subscribe-form {
        flex-direction: row;
        align-items: baseline;
        gap: 24px;
    }
    
    .subscribe-input {
        width: 264px;
        margin: 0;
    }
}



    /* DESKTOP */
@media screen and (min-width: 1158px) {
    .footer-container {
        /* display: flex; */
        flex-wrap: nowrap;
        align-items: baseline;
    }

    .footer-information {
        margin-right: 120px;
    }

    .footer-page-text {
        width: 264px;
    }

    .social-networks-list {
        margin-right: 80px;
    }

    
}