/* HEADER PAGE */
.header-page {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

.web-logo {
    font-family: "Raleway", sans-serif;
    color: #4D5AE5;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 0;
    margin-right: 76px;
}

.studio-logo {
    color: #2E2F42;
}


    /* MOBILE */
@media screen and (max-width: 767px) {
    .menu-nav,
    .contacts-list {
        display: none;
    }

    .web-logo {
        display: flex;
        align-items: center;
        padding: 17px 0;
    }

    .open-mobile-menu-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        padding: 0;
        margin-left: auto;
        margin-bottom: 16px;
        position: absolute;
        top: 16px;
        right: 16px;
    }

    .open-mobile-menu-button {
        border: none;
        background-color: transparent;
        padding: 0;
        line-height: 0;
        fill: #2F2F37;
    }
    
    .open-mobile-menu-button:hover,
    .open-mobile-menu-button:focus {
        fill: #4D5AE5;
    }
    
    .open-mobile-menu-icon {
        transition: fill 250ms ease-out;
    }

    /* MOBILE WINDOW MENU */
    .mobile-menu {
        position: fixed;
        display: flex;
        flex-direction: column;
        left: 0;
        top: 0;
        padding: 72px 24px 40px 16px;
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        z-index: 7777;
        transform: translateX(100%);
        transition: transform 250ms ease-out;
    }

    .mobile-menu.is-open {
        transform: translateX(0%);
    }

    .menu-nav-mobile-item:not(:last-child) {
        display: block;
        margin-bottom: 40px;
    }

    .contacts-list-mobile-item:not(:last-child) {
        margin-bottom: 24px;
    }

    .mobile-menu-close-button {
        position: absolute;
        top: 24px;
        right: 24px;
        background-color: transparent;
        padding: 8px;
        line-height: 0;
        width: 24px;
        height: 24px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 50%;
        background-color: #E7E9FC;
        display: flex;
        align-items: center;
        cursor: pointer;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .mobile-menu-close-icon {
        fill: #2E2F42;
    }

    .page-nav-mobile {
        margin-top: 72px;
        margin-bottom: 168px;
        margin-right: 105px;
        margin-left: 16px;
    }

    .menu-nav-mobile {
        display: flex;
        flex-direction: column;
        gap: 40px;
        margin-top: auto;
    }

    .studio-link-mobile {
        color: var(--NAVY-BLUE, #2E2F42);
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; 
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .studio-link-mobile-active {
        color: var(--OCEAN, #404BBF);
        font-family: Roboto;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: 40px; 
        letter-spacing: 0.72px;
        text-transform: capitalize;
    }

    .contacts-section-mobile {
        margin-left: 16px;
        margin-bottom: 40px;
    }

    .contacts-list-mobile {
        display: flex;
        flex-direction: column-reverse;
        gap: 24px;
    }

    .contacts-mobile-tel {
        color: var(--IRIS, #4D5AE5);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; 
        letter-spacing: 0.4px;
    }

    .contacts-mobile-mail {
        color: var(--SLATE, #434455);
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px; 
        letter-spacing: 0.4px;
    }
        
    .social-networks-mobile {
        margin-left: 16px;
    }

    .social-networks-list-mobile {
        display: flex;
        gap: 40px;
    }
}



/* TABLET */

@media screen and (min-width: 768px) {
    .open-mobile-menu-container {
        display: none;
    }

    .open-mobile-menu-button {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .header-container {
        display: flex;
        justify-content: space-between;
    }

    .page-nav {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 526px;
    }

    .menu-nav {
        display: flex;
        gap: 40px;
        align-items: center;
    }

    /* .menu-nav-item { 
        padding: 24px 0; 
    } */

    .studio-link,
    .contacts {
        /* display: flex; 
        padding: 24px 0; */
        color: var(--accent-gray);
        letter-spacing: 0.02em;
        font-weight: 500;
    }

    .studio-link {
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .studio-link:hover,
    .studio-link:focus,
    .studio-link:active {
        color: var(--pressed);
    }

    .contacts-section {
        display: flex;
        align-items: center;
    }

    .contacts-list {
        color: var(--accent-gray);
        letter-spacing: 0.02em;
        font-weight: 500;
        display: block;
    }

    .contacts-list-item {
        padding: 0;
    }

    .contacts {
        font-style: normal;
        font-size: 12px;
        font-weight: 400;
        letter-spacing: 0.03em;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts:hover,
    .contacts:active,
    .contacts:focus {
        color: var(--pressed);
    }
}



/* DESKTOP */


@media screen and (min-width: 1158px) {
    .header-page {
        border-bottom: 1px solid #e7e9fc;
        box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 1px 6px rgba(46, 47, 66, 0.08);
    }

    .header-container {
        display: flex;
        margin: 0 auto;
        align-items: center;
    }

    .page-nav { 
        display: flex;
        align-items: center;
        padding: 0;
        margin-right: auto;
    }

    .menu-nav {
        display: flex;
        gap: 40px;
    }

    .studio-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        padding: 24px 0;
        margin: 0, 40px;
        display: block;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .studio-link-active {
        color: #404bbf;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        display: block;
        position: relative;
        padding: 24px 0;
        margin: 0, 40px;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .studio-link-active, .studio-link:hover,
    .studio-link-active, .studio-link:focus {
        color: #404bbf;
    }

    .studio-link-active::after {
        content: '';
        width: 100%;
        height: 4px;
        display: block;
        border-radius: 2px;
        background-color: #404BBF;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
    }

    .contacts-section {
        font-style: normal;
    }

    .contacts-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

    .contacts {
        color: #434455;
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 1.5; 
        letter-spacing: 0.02em;
        margin: 0, 40px;
        padding: 24px 0;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .contacts:hover,
    .contacts:focus {
        color: #404bbf;
    } 

}